page {
  --light: #fff;
  --dark: #000;
  --dark-border: #141414;
  --light-border: #e8e8e8;
}

.title-color {
  color: var(--dark);
}

.divider-color {
  border-bottom-color: var(--light-border);
}

.secondary-text-color {
  color: #b2b2b2;
}

.main-bg-color {
  background-color: var(--light);
}

.bg-color {
  background-color: #f6f7f9;
}

.semi {
  color: #353535;
}

.grey {
  color: #888;
}

.light {
  color: #b2b2b2;
}

@media (prefers-color-scheme: dark) {
  page {
    background-color: var(--dark) !important;
  }

  .title-color {
    color: var(--light);
  }

  .main-bg-color {
    background-color: var(--dark);
  }

  .bg-color {
    background-color: #141414;
  }

  .divider-color {
    border-bottom-color: var(--dark-border);
  }
}

.blue {
  color: rgba(87, 107, 149, 1);
}
.blue-press {
  color: rgba(87, 107, 149, 0.2);
}
.green {
  color: rgba(9, 187, 7, 1);
}
.green-press {
  color: rgba(9, 187, 7, 0.2);
}
.green-disable {
  color: rgba(52, 179, 50, 0.1);
}
.red {
  color: rgba(230, 67, 64, 1);
}
.red-bg {
  background-color: rgba(230, 67, 64, 1);
}
.red-press {
  color: rgba(230, 67, 64, 0.2);
}
.red-disable {
  color: rgba(230, 67, 64, 0.1);
}
