@import '../../utils/utils.less';

.booklists {
  .booklists__item {
    width: 650rpx;
    height: 650 / 2.34987rpx;
    margin: 0 auto 60rpx auto;
    border-radius: 10rpx;
    .boxShadow;

    .booklists__cover {
      width: 100%;
      height: 100%;
      border-radius: 10rpx;
    }
  }
}
