@font-face {
  font-family: "iconfont"; /* project id 988933 */
  src: url("https://at.alicdn.com/t/font_988933_3j6luh0u67m.ttf") format("truetype");
}

@font-face {
  font-family: "webfont";
  font-display: swap;
  src: url("https://at.alicdn.com/t/webfont_et2kol4za75.ttf") format("truetype");
}
.iconfont {
  font-family: "iconfont";
}
.webfont {
  font-family: "webfont";
}
* {
  -webkit-overflow-scrolling: touch;
}

div,
h1,
h2,
p,
button,
view,
span {
  box-sizing: border-box;
}

span {
  display: inline-block;
}
/* #ifdef MP-ALIPAY */
page {
  background-color: #fff;
}
/* #endif */
