@mixin flex($justify: start, $align: start, $direction: row, $wrap: nowrap) {
  display: flex;
  justify-content: $justify;
  flex-direction: $direction;
  align-items: $align;
  flex-wrap: $wrap;
}

@mixin center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin boxShaow {
  box-shadow: 0 4rpx 12rpx 0 rgba(0, 0, 0, 0.12);
}

@mixin ellipsis($line: 1) {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: $line;
  overflow: hidden;
}